body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ededed;
  color: #7407f2;
  padding-top: 80px;
}

.navbar {
  width: 100vw;
  background-color: #2607f2; /* Color de fondo */
  color: #ededed;
  padding: 4px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed; /* Mantenerlo fijo en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* Prioridad sobre otros elementos */
}

h2 {
  text-align: center;
  color: #7407f2;
  width: 100%;
  margin-top: 5px;
  font-size: 27px;
  font-weight: bold;
}

.categorias {
  max-width: 800px;
  margin: 60px auto;
  padding: 25px;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.categoria-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.categoria-item {
  padding: 20px;
  background-color: #2607f2;
  color: #ededed;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.categoria-item:hover {
  background-color: #1a05b2;
  transform: scale(1.05);
}

.categoria-item img {
  width: 200px;
  height: 150px;
}
